{% extends 'main_site/header.html' %}

{% block content %}

<div class="container">
  <h3>Login</h3>
  <form class="form" method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-dark" type="submit">Login</button>
    <small class="text-muted ml-2">
      <a href="{% url 'password_reset' %}">Forgot Password?</a>
    </small>
  </form>
  <small class="text-muted">Need An Account? <a href="{% url 'register' %}">Sign Up Now</a></small>
</div>

{% endblock %}