{% extends 'main_site/header.html' %}

{% load static %}

{% block content %}

<div class="container z-depth-1 my-5 p-5">
  <h3 class="font-weight-bold text-center dark-grey-text pb-2">Your Profile</h3>
  <hr class="w-header" />  

  <div class="text-center">
    <img src="{% static 'users/img/Avatars/'|add:user.profile.avatar %}" alt="No avatar available." height="300px" width="300px">
  </div>

  <small>Belt Progress</small>
  {% if belt_progres == 'red' %}
  <div class="text-center">
    <p>Your Instructor will superviser your attendance.</p>
  </div>
  {% else %}
    <div class="progress md-progress" style="height:20px">
        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ belt_progress|floatformat:2 }}%; height:20px" aria-valuenow="{{ belt_progress|floatformat:2 }}" aria-valuemin="0" aria-valuemax="100">
          {{ belt_progress|floatformat:0 }}%
        </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-sm-6 py-3">
      <h3 class="display">User Info</h3>
      <p>
        Email: {{ user.email }}  <br />
        Name: {{ user.first_name }} {{ user.last_name }} <br />
        Belt: {{ user.profile.belt }} <br />
        Account Age: {{ account_days }} days <br />
        Classes Attended: {{ user.attending.count }}
      </p>
      <a class="btn btn-rounded btn-outline-dark" href="/profile/update">Update Profile</a>
    </div>
    <!-- Modal -->
    <div class="col-sm-6 py-3">
      <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title font-weight-bold">Attend Class</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
              <form method="POST">
                {% csrf_token %}
                <div class="md-form mb-5">
                  <input type="text" name="code" id="classCodeForm" class="form-control validate">
                  <label data-error="wrong" data-success="right" for="classCodeForm">Class code</label>
                </div>
                <input type="submit" class="btn btn-dark">
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- end modal -->
      <div class="text-center">
        <button type="button" class="btn btn-outline-dark btn-block btn-rounded" data-toggle="modal" data-target="#modalLoginForm" disabled>Launch Attendance Tracker</button>
        {% if user.attending.count > 0 %}
          <img src="{% static 'main_site/img/attendance-badge2.png'%}" alt="No img available." height="200px" width="300px">
        {% elif user.attending.count > 10 %}
          <img src="{% static 'main_site/img/attendance-badge3.png'%}" alt="No img available." height="200px" width="300px">
        {% elif user.attending.count > 50 %}
          <img src="{% static 'main_site/img/attendance-badge4.png'%}" alt="No img available." height="200px" width="300px">
        {% elif user.attending.count > 100 %}
          <img src="{% static 'main_site/img/attendance-badge5.png'%}" alt="No img available." height="200px" width="300px">
        {% else %}
          <img src="{% static 'main_site/img/attendance-badge1.png'%}" alt="No img available." height="200px" width="300px">
        {% endif %}
      </div>
    </div>
  </div>



  <div class="row d-flex justify-content-center">
    <div class="col-sm-6 py-3 text-center">
      <h4>Other Badges</h4>
      <div class="d-flex justify-content-around">
        <i class="fas fa-ribbon"></i>
        <i class="fas fa-certificate"></i>
        <i class="fas fa-running"></i>
        <i class="fas fa-walking"></i>
        <i class="fas fa-swimmer"></i>
        <i class="fas fa-dumbbell"></i>
      </div>
    </div>
  </div>
</div>


{% endblock %}