{% extends 'main_site/header.html' %}

{% block content %}
<style type="text/css">
  .strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
  }

  .strike>span {
    position: relative;
    display: inline-block;
  }

  .strike>span:before,
  .strike>span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: black;
  }

  .strike>span:before {
    right: 100%;
    margin-right: 15px;
  }

  .strike>span:after {
    left: 100%;
    margin-left: 15px;
  }
</style>
<div class="container">
  {% csrf_token %}
  <h1 class="text-center">Your Profile</h1>

  <div class="row">
    <div class="col-sm-6 py-3">
      <div class="strike">
        <span>
          <h4>Info</h4>
        </span>
      </div>
      <h5>
        <img class="account-img" src="{{ user.profile.image.url }}" alt="No image">
        {{ user.username }}
      </h5>
      <h5>
        Email: <small>{{ user.email }}</small>
      </h5>
      <p>Update your profile picture <a href="{% url 'profile_update' %}">here</a>!</p>
    </div>
    <div class="col-sm-6 py-3">
      <div class="strike">
        <span>
          <h4>Class Attendance</h4>
        </span>
      </div>
      <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title font-weight-bold">Attend Class</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
              <form method="POST">
                {% csrf_token %}
                <div class="md-form mb-5">
                  <input type="text" name="code" id="classCodeForm" class="form-control validate">
                  <label data-error="wrong" data-success="right" for="classCodeForm">Class code</label>
                </div>
                <input type="submit" class="btn btn-dark">
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <a href="" class="btn btn-dark btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">Launch Attendance Tracker</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 py-3">
      <div class="strike">
        <span>
          <h4>Badges</h4>
        </span>
      </div>
      <div class="d-flex justify-content-around">
        <i class="fas fa-ribbon"></i>
        <i class="fas fa-certificate"></i>
        <i class="fas fa-running"></i>
        <i class="fas fa-walking"></i>
        <i class="fas fa-swimmer"></i>
        <i class="fas fa-dumbbell"></i>
      </div>
    </div>
  </div>
</div>

</div>

{% endblock %}