{% extends 'main_site/header.html' %}

{% block content %}

<div class="container z-depth-1 my-5 p-5">

  <!-- Section -->
  <section>

    <h3 class="font-weight-bold text-center dark-grey-text pb-2">About Us</h3>
    <hr class="w-header my-4">

    <div class="row d-flex justify-content-center">

      <div class="col-md-6 col-xl-4">
        <h5 class="font-weight-normal"><a class="dark-grey-text" href="#">About Raise Leaders</a></h5>
      </div>

      <div class="col-md-6">
        <p class="text-muted mb-5 pb-2">Raise Leaders Martial Arts was founded in 1989 and has been serving South Florida for over two decades. Our 5,000 square foot facility serves an average of 300 families per year. Our programs include youth and adult martial arts classes at our studio and on zoom, an after-care program, leadership program and day and summer camps. Students are enrolled in our Tigers program as young as 3 years old and our adult program can be adapted for people of all skill and fitness levels. At the core of RLMA is our leadership program, which emphasizes personal responsibility and service to others.</p>
      </div>


      <div class="col-md-6 col-xl-4">
        <h5 class="font-weight-normal"><a class="dark-grey-text" href="#">Our Philosophy</a></h5>
      </div>

      <div class="col-md-6">
        <p class="text-muted mb-5 pb-2">At Raise Leaders Martial Arts, we believe that training is more than just physical fitness. It is developing the mental and motivational skills to persevere and achieve one’s personal goals. </p>
      </div>


      <div class="col-md-6 col-xl-4">
        <h5 class="font-weight-normal"><a class="dark-grey-text" href="#">Instructor Promise</a></h5>
      </div>

      <div class="col-md-6">
        <p class="text-muted mb-5 pb-2">Our certified instructors will provide you with a safe and positive training environment. Our classes will be fun, educational and empowering. </p>
      </div>

    </div>

  </section>
  <!-- Section -->

</div>


<div class="container z-depth-1 my-5 p-5">

  <h3 class="font-weight-bold text-center dark-grey-text pb-2">Instructors</h3>
  <hr class="w-header my-4">

  <!--Section: Content-->
  <section class="">

  	<!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-5 col-md-12 mb-lg-0 mb-4">

				<!-- Featured image -->
        <div class="view overlay rounded z-depth-1 mb-lg-0 mb-4">
          <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/-Insert_image_here-.svg/1280px--Insert_image_here-.svg.png">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-7 col-md-6 mb-md-0 mb-4 mt-xl-4">

      	 <h3 class="font-weight-normal mb-4">Ms Elysha</h3>
         <p class="text-muted">Insert blurb here
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->

  <hr class="w-header my-4">

  <!--Section: Content-->
  <section class="">

  	<!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-5 col-md-12 mb-lg-0 mb-4">

				<!-- Featured image -->
        <div class="view overlay rounded z-depth-1 mb-lg-0 mb-4">
          <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/-Insert_image_here-.svg/1280px--Insert_image_here-.svg.png">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-7 col-md-6 mb-md-0 mb-4 mt-xl-4">

      	 <h3 class="font-weight-normal mb-4">Ms Michelle</h3>
         <p class="text-muted">Michelle Duong is a second degree TKD black belt. She has been training at Raise Leaders since she was eleven years old. She continued her fitness journey through college by participating in numerous sports including wrestling, jiu jitsu, crossfit, tennis, rock climbing, and volleyball. With degrees in nutrition, psychology, and public health, she advocates for a holistic style of training. She is a firm believer in the power of sports to unite everyone with different backgrounds to come together. She has worked with diverse populations including athletes, people with disabilities, children, and adults. She is also a certified personal trainer, emphasizing in developing the mind body connection.
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->


</div>

{% endblock %}