{% extends 'main_site/header.html' %}

{% block content %}

<div class="container z-depth-1 my-5 p-5">

  <!-- Section -->
  <section>

    <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">Services</h6>
    <h3 class="font-weight-bold text-center dark-grey-text pb-2">About Us</h3>
    <hr class="w-header my-4">
    <p class="lead text-center text-muted pt-2 mb-5">Join thousands of satisfied customers using our template
      globally.</p>

    <div class="row d-flex justify-content-center">

      <div class="col-md-6 col-xl-4">
        <h5 class="font-weight-normal"><a class="dark-grey-text" href="#">About Raise Leaders</a></h5>
        <p class="small grey-text">Responsive, Minimalism</p>
      </div>

      <div class="col-md-6">
        <p class="text-muted mb-5 pb-2">Raise Leaders Martial Arts was founded in 1989 and has been serving South Florida for over two decades. Our 5,000 square foot facility serves an average of 300 families per year. Our programs include youth and adult martial arts classes at our studio and on zoom, an after-care program, leadership program and day and summer camps. Students are enrolled in our Tigers program as young as 3 years old and our adult program can be adapted for people of all skill and fitness levels. At the core of RLMA is our leadership program, which emphasizes personal responsibility and service to others.</p>
      </div>


      <div class="col-md-6 col-xl-4">
        <h5 class="font-weight-normal"><a class="dark-grey-text" href="#">Our Philosophy</a></h5>
        <p class="small grey-text">PHP, MySQL, Laravel</p>
      </div>

      <div class="col-md-6">
        <p class="text-muted mb-5 pb-2">At Raise Leaders Martial Arts, we believe that training is more than just physical fitness. It is developing the mental and motivational skills to persevere and achieve one’s personal goals. </p>
      </div>


      <div class="col-md-6 col-xl-4">
        <h5 class="font-weight-normal"><a class="dark-grey-text" href="#">Mobile App</a></h5>
        <p class="small grey-text">Andriod, iOS</p>
      </div>

      <div class="col-md-6">
        <p class="text-muted mb-5 pb-2">So delightful up dissimilar by unreserved it connection frequently. Do an high room so in paid. Up on
          cousin ye dinner should in. Sex stood tried walls manor truth shy and three his. Their to years so child
          truth. Honoured peculiar families sensible up likewise by on in.</p>
      </div>

    </div>

  </section>
  <!-- Section -->

</div>

{% endblock %}