{% extends 'main_site/header.html' %}

{% block content %}

<div class="container">

    <div class="row d-flex justify-content-center">
        <div class="col my-2 mx-2">
            <div class="card">

             <!--Card image-->
            <div class="view overlay">
                 <img class="card-img-top" src="https://img.youtube.com/vi/00ZM4Fvl4Qk/hqdefault.jpg" alt="Card image cap">
                <a href="https://youtu.be/00ZM4Fvl4Qk" target="_blank">
             <div class="mask rgba-white-slight"></div>
                </a>
            </div>

              <!--Card content-->
             <div class="card-body elegant-color white-text">

            <!-- Title -->
                <h4 class="card-title">How to: Handstands</h4>
            </div>
            </div>

         </div>
         <div class="col my-2 mx-2">
             <div class="card">


            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" src="https://img.youtube.com/vi/-q_n7sFKLkQ/hqdefault.jpg" alt="Card image cap">
                <a href="https://youtu.be/-q_n7sFKLkQ" target="_blank">
                 <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body elegant-color white-text">

                <!-- Title -->
                <h4 class="card-title">Stretches: <br />Front Splits</h4>
            </div>
        </div>
        </div>
        <div class="col my-2 mx-2">
            <div class="card">
            <!--Card image-->
           <div class="view overlay">
                <img class="card-img-top" src="https://img.youtube.com/vi/k3Z5Ag9AGgY/hqdefault.jpg" alt="Card image cap">
               <a href="https://youtu.be/k3Z5Ag9AGgY" target="_blank">
            <div class="mask rgba-white-slight"></div>
               </a>
           </div>

             <!--Card content-->
            <div class="card-body elegant-color white-text">

           <!-- Title -->
               <h4 class="card-title">How to: <br /> Cartwheels</h4>
           </div>
        </div>
        </div>
        <div class="col my-2 mx-2">
            <div class="card">
           <!--Card image-->
           <div class="view overlay">
               <img class="card-img-top" src="https://img.youtube.com/vi/pmiddNiBmcU/hqdefault.jpg" alt="Card image cap">
               <a href="https://youtu.be/pmiddNiBmcU" target="_blank">
                <div class="mask rgba-white-slight"></div>
               </a>
           </div>

           <!--Card content-->
           <div class="card-body elegant-color white-text">

               <!-- Title -->
               <h4 class="card-title">How to: <br /> Heli Cartwheel</h4>
           </div>
       </div>
    </div>
    </div>  
    <div class="row d-flex justify-content-center">  
        <div class="col my-2 mx-2">
            <div class="card">
            <!--Card image-->
           <div class="view overlay">
                <img class="card-img-top" src="https://img.youtube.com/vi/sMlxHIC3yLQ/hqdefault.jpg" alt="Card image cap">
               <a href="https://youtu.be/sMlxHIC3yLQ" target="_blank">
            <div class="mask rgba-white-slight"></div>
               </a>
           </div>

             <!--Card content-->
            <div class="card-body elegant-color white-text">

           <!-- Title -->
               <h4 class="card-title">How to: <br /> Forward Roll</h4>
           </div>
        </div>
        </div>
        <div class="col my-2 mx-2">
            <div class="card">
           <!--Card image-->
           <div class="view overlay">
               <img class="card-img-top" src="https://img.youtube.com/vi/nGU0ltWTWDo/hqdefault.jpg" alt="Card image cap">
               <a href="https://youtu.be/nGU0ltWTWDo" target="_blank">
                <div class="mask rgba-white-slight"></div>
               </a>
           </div>

           <!--Card content-->
           <div class="card-body elegant-color white-text">

               <!-- Title -->
               <h4 class="card-title">How to: <br /> Backwards Roll</h4>
           </div>
        </div>
       </div>
       <div class="col my-2 mx-2">
           <div class="card">
           <!--Card image-->
          <div class="view overlay">
               <img class="card-img-top" src="https://img.youtube.com/vi/6x-cG9giKXY/hqdefault.jpg" alt="Card image cap">
              <a href="https://youtu.be/6x-cG9giKXY" target="_blank">
           <div class="mask rgba-white-slight"></div>
              </a>
          </div>

            <!--Card content-->
           <div class="card-body elegant-color white-text">

          <!-- Title -->
              <h4 class="card-title">How to: <br /> Shoulder Roll</h4>
          </div>
        </div>
       </div>
       <div class="col my-2 mx-2">
           <div class="card">
          <!--Card image-->
          <div class="view overlay">
              <img class="card-img-top" src="https://img.youtube.com/vi/9VQGuKhiS2o/hqdefault.jpg" alt="Card image cap">
              <a href="https://youtu.be/9VQGuKhiS2o" target="_blank">
               <div class="mask rgba-white-slight"></div>
              </a>
          </div>

          <!--Card content-->
          <div class="card-body elegant-color white-text">

              <!-- Title -->
              <h4 class="card-title">How to: <br /> Backbends</h4>
          </div>
        </div>
      </div>
    </div> 
</div>

{% endblock %}