{% extends 'main_site/header.html' %} {% block content %}

<div class="container">
  <div
    class="row d-flex justify-content-center row-cols-1 row-cols-md-3 row-cols-lg-4"
  >
    <div class="col my-3">
      <div class="card h-100">
        <!--Card image-->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://img.youtube.com/vi/00ZM4Fvl4Qk/hqdefault.jpg"
            alt="Card image cap"
          />
          <a href="https://youtu.be/00ZM4Fvl4Qk" target="_blank">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body elegant-color white-text">
          <!-- Title -->
          <h4 class="card-title">How to: Handstands</h4>
        </div>
      </div>
    </div>
    <div class="col my-3">
      <div class="card h-100">
        <!--Card image-->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://img.youtube.com/vi/-q_n7sFKLkQ/hqdefault.jpg"
            alt="Card image cap"
          />
          <a href="https://youtu.be/-q_n7sFKLkQ" target="_blank">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body elegant-color white-text">
          <!-- Title -->
          <h4 class="card-title">Stretches: <br />Front Splits</h4>
        </div>
      </div>
    </div>
    <div class="col my-3">
      <div class="card h-100">
        <!--Card image-->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://img.youtube.com/vi/k3Z5Ag9AGgY/hqdefault.jpg"
            alt="Card image cap"
          />
          <a href="https://youtu.be/k3Z5Ag9AGgY" target="_blank">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body elegant-color white-text">
          <!-- Title -->
          <h4 class="card-title">
            How to: <br />
            Cartwheels
          </h4>
        </div>
      </div>
    </div>
    <div class="col my-3">
      <div class="card h-100">
        <!--Card image-->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://img.youtube.com/vi/pmiddNiBmcU/hqdefault.jpg"
            alt="Card image cap"
          />
          <a href="https://youtu.be/pmiddNiBmcU" target="_blank">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body elegant-color white-text">
          <!-- Title -->
          <h4 class="card-title">
            How to: <br />
            Heli Cartwheel
          </h4>
        </div>
      </div>
    </div>
    <div class="col my-3">
      <div class="card h-100">
        <!--Card image-->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://img.youtube.com/vi/sMlxHIC3yLQ/hqdefault.jpg"
            alt="Card image cap"
          />
          <a href="https://youtu.be/sMlxHIC3yLQ" target="_blank">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body elegant-color white-text">
          <!-- Title -->
          <h4 class="card-title">
            How to: <br />
            Forward Roll
          </h4>
        </div>
      </div>
    </div>
    <div class="col my-3">
      <div class="card h-100">
        <!--Card image-->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://img.youtube.com/vi/nGU0ltWTWDo/hqdefault.jpg"
            alt="Card image cap"
          />
          <a href="https://youtu.be/nGU0ltWTWDo" target="_blank">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body elegant-color white-text">
          <!-- Title -->
          <h4 class="card-title">
            How to: <br />
            Back Roll
          </h4>
        </div>
      </div>
    </div>
    <div class="col my-3">
      <div class="card h-100">
        <!--Card image-->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://img.youtube.com/vi/6x-cG9giKXY/hqdefault.jpg"
            alt="Card image cap"
          />
          <a href="https://youtu.be/6x-cG9giKXY" target="_blank">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body elegant-color white-text">
          <!-- Title -->
          <h4 class="card-title">
            How to: <br />
            Shoulder Roll
          </h4>
        </div>
      </div>
    </div>
    <div class="col my-3">
      <div class="card h-100">
        <!--Card image-->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://img.youtube.com/vi/9VQGuKhiS2o/hqdefault.jpg"
            alt="Card image cap"
          />
          <a href="https://youtu.be/9VQGuKhiS2o" target="_blank">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body elegant-color white-text">
          <!-- Title -->
          <h4 class="card-title">
            How to: <br />
            Backbends
          </h4>
        </div>
      </div>
    </div>
    <div class="col my-3">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://img.youtube.com/vi/jIzCqy-R9oo/hqdefault.jpg"
              alt="Card image cap"
            />
            <a href="https://youtu.be/jIzCqy-R9oo" target="_blank">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body elegant-color white-text">
            <!-- Title -->
            <h4 class="card-title">
              How to: <br />
              Back Walkover
            </h4>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://img.youtube.com/vi/xgFmcxhrqmk/hqdefault.jpg"
              alt="Card image cap"
            />
            <a href="https://youtu.be/xgFmcxhrqmk" target="_blank">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body elegant-color white-text">
            <!-- Title -->
            <h4 class="card-title">
              How to: <br />
              Front Walkover
            </h4>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://img.youtube.com/vi/SBynK6UoT24/hqdefault.jpg"
              alt="Card image cap"
            />
            <a href="https://youtu.be/SBynK6UoT24" target="_blank">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body elegant-color white-text">
            <!-- Title -->
            <h4 class="card-title">
              How to: <br />
              Round Off
            </h4>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://img.youtube.com/vi/ujPfdy86hJ8/hqdefault.jpg"
              alt="Card image cap"
            />
            <a href="https://youtu.be/ujPfdy86hJ8" target="_blank">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body elegant-color white-text">
            <!-- Title -->
            <h4 class="card-title">
              How to: <br />
              Back Handspring
            </h4>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://img.youtube.com/vi/D92mdThzvS4/hqdefault.jpg"
              alt="Card image cap"
            />
            <a href="https://youtu.be/D92mdThzvS4" target="_blank">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body elegant-color white-text">
            <!-- Title -->
            <h4 class="card-title">
              How to: <br />
              Front Handspring
            </h4>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://img.youtube.com/vi/Soo8QMKH7ko/hqdefault.jpg"
              alt="Card image cap"
            />
            <a href="https://youtu.be/Soo8QMKH7ko" target="_blank">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body elegant-color white-text">
            <!-- Title -->
            <h4 class="card-title">
              How to: <br />
              Back Flip
            </h4>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://img.youtube.com/vi/7PmUDDgVKSI/hqdefault.jpg"
              alt="Card image cap"
            />
            <a href="https://youtu.be/7PmUDDgVKSI" target="_blank">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body elegant-color white-text">
            <!-- Title -->
            <h4 class="card-title">
              How to: <br />
              Front Flip
            </h4>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://img.youtube.com/vi/gyyoz9Lyo04/hqdefault.jpg"
              alt="Card image cap"
            />
            <a href="https://youtu.be/gyyoz9Lyo04" target="_blank">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body elegant-color white-text">
            <!-- Title -->
            <h4 class="card-title">
              How to: <br />
              Kip up
            </h4>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://img.youtube.com/vi/RlGKo5NyZOI/hqdefault.jpg"
              alt="Card image cap"
            />
            <a href="https://youtu.be/RlGKo5NyZOI" target="_blank">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body elegant-color white-text">
            <!-- Title -->
            <h4 class="card-title">
              How to: <br />
              Wall Flip
            </h4>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://img.youtube.com/vi/9eTihbihFFw/hqdefault.jpg"
              alt="Card image cap"
            />
            <a href="https://youtu.be/9eTihbihFFw" target="_blank">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body elegant-color white-text">
            <!-- Title -->
            <h4 class="card-title">
              How to: <br />
              Side Flip
            </h4>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://img.youtube.com/vi/KSlNjOg4B1Y/hqdefault.jpg"
              alt="Card image cap"
            />
            <a href="https://youtu.be/KSlNjOg4B1Y" target="_blank">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body elegant-color white-text">
            <!-- Title -->
            <h4 class="card-title">
              How to: <br />
              Aerial
            </h4>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://img.youtube.com/vi/6_-K7LwLV2Q/hqdefault.jpg"
              alt="Card image cap"
            />
            <a href="https://youtu.be/6_-K7LwLV2Q" target="_blank">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body elegant-color white-text">
            <!-- Title -->
            <h4 class="card-title">
              How to: <br />
              Butterfly Kick
            </h4>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://img.youtube.com/vi/6fHW3Mq6CyU/hqdefault.jpg"
              alt="Card image cap"
            />
            <a href="https://youtu.be/6fHW3Mq6CyU" target="_blank">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body elegant-color white-text">
            <!-- Title -->
            <h4 class="card-title">
              How to: <br />
              Butterfly Twist
            </h4>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://img.youtube.com/vi/Cpq5WHYOZVk/hqdefault.jpg"
              alt="Card image cap"
            />
            <a href="https://youtu.be/Cpq5WHYOZVk" target="_blank">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body elegant-color white-text">
            <!-- Title -->
            <h4 class="card-title">
              How to: <br />
              Cheat Gainer
            </h4>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://img.youtube.com/vi/JJb7hIB0jkg/hqdefault.jpg"
              alt="Card image cap"
            />
            <a href="https://youtu.be/JJb7hIB0jkg" target="_blank">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body elegant-color white-text">
            <!-- Title -->
            <h4 class="card-title">
              How to: <br />
              Corkscrew
            </h4>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://img.youtube.com/vi/1Q8WQ04h1nw/hqdefault.jpg"
              alt="Card image cap"
            />
            <a href="https://youtu.be/1Q8WQ04h1nw" target="_blank">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body elegant-color white-text">
            <!-- Title -->
            <h4 class="card-title">
              How to: <br />
              Loser Flip
            </h4>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://img.youtube.com/vi/tUJwUUAiT4o/hqdefault.jpg"
              alt="Card image cap"
            />
            <a href="https://youtu.be/tUJwUUAiT4o" target="_blank">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body elegant-color white-text">
            <!-- Title -->
            <h4 class="card-title">
              How to: <br />
              Dive Roll
            </h4>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://img.youtube.com/vi/iZo1t0c__eU/hqdefault.jpg"
              alt="Card image cap"
            />
            <a href="https://youtu.be/iZo1t0c__eU" target="_blank">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body elegant-color white-text">
            <!-- Title -->
            <h4 class="card-title">
              How to: <br />
              Wall Run
            </h4>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://img.youtube.com/vi/3ShemTMLFAU/hqdefault.jpg"
              alt="Card image cap"
            />
            <a href="https://youtu.be/3ShemTMLFAU" target="_blank">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body elegant-color white-text">
            <!-- Title -->
            <h4 class="card-title">
              How to: <br />
              Climb a Tree
            </h4>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://img.youtube.com/vi/bgJeNfLahDQ/hqdefault.jpg"
              alt="Card image cap"
            />
            <a href="https://youtu.be/bgJeNfLahDQ" target="_blank">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body elegant-color white-text">
            <!-- Title -->
            <h4 class="card-title">
              Stretches: <br />
              Middle Splits
            </h4>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://img.youtube.com/vi/--SAbvaYuJY/hqdefault.jpg"
              alt="Card image cap"
            />
            <a href="https://youtu.be/--SAbvaYuJY" target="_blank">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body elegant-color white-text">
            <!-- Title -->
            <h4 class="card-title">
              Stretches: <br />
              Kick Higher
            </h4>
          </div>
        </div>
      </div>
  </div>
</div>

{% endblock %}
