{% extends 'main_site/header.html' %}

{% block content %}
<div class="container z-depth-1 my-5 p-5">
    <h3 class="font-weight-bold text-center dark-grey-text pb-2">Calendar</h3>
    <hr class="w-header" />
  
<!-- Card deck -->
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 py-5">

  <!-- Card -->
<div class="card card-cascade wider">

  <!-- Card image -->
  <div class="view view-cascade gradient-card-header heavy-rain-gradient">

    <!-- Title -->
    <h2 class="text-dark card-header-title mb-2">Monday</h2>

  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Text -->
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <!-- Text -->
      <h5 class="font-weight-bold">4pm-5pm EST</h5>
      <h6 class="font-italic">Teens & Adults</h6>
      <!-- Link -->
      <a href="#!" class="text-dark d-flex flex-row-reverse p-2">
      <h5 class="waves-effect waves-light">Zoom<i class="fas fa-angle-double-right ml-2"></i></h5>
      </a>
    </li>
    <li class="list-group-item">
      <!-- Text -->
      <h5 class="font-weight-bold">5pm-6pm EST</h5>
      <h6 class="font-italic">Kids</h6>
      <!-- Link -->
      <a href="#!" class="text-dark d-flex flex-row-reverse p-2">
      <h5 class="waves-effect waves-light">Zoom<i class="fas fa-angle-double-right ml-2"></i></h5>
      </a>
    </li>
    <li class="list-group-item">
      <!-- Text -->
      <h5 class="font-weight-bold">6pm-7pm EST</h5>
      <h6 class="font-italic">Teens & Adults</h6>
      <!-- Link -->
      <a href="#!" class="text-dark d-flex flex-row-reverse p-2">
      <h5 class="waves-effect waves-light">Zoom<i class="fas fa-angle-double-right ml-2"></i></h5>
      </a>
    </li>
  </ul>
  </div>
</div>

  <!-- Card -->
<div class="card card-cascade wider">

  <!-- Card image -->
  <div class="view view-cascade gradient-card-header elegant-color">

    <!-- Title -->
    <h2 class="card-header-title mb-2">Tuesday</h2>

  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Text -->
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <!-- Text -->
      <h5 class="font-weight-bold">4pm-5pm EST</h5>
      <h6 class="font-italic">Kids</h6>
      <!-- Link -->
      <a href="#!" class="text-dark d-flex flex-row-reverse p-2">
      <h5 class="waves-effect waves-light">Zoom<i class="fas fa-angle-double-right ml-2"></i></h5>
      </a>
    </li>
    <li class="list-group-item">
      <!-- Text -->
      <h5 class="font-weight-bold">5pm-6pm EST</h5>
      <h6 class="font-italic">Kids</h6>
      <!-- Link -->
      <a href="#!" class="text-dark d-flex flex-row-reverse p-2">
      <h5 class="waves-effect waves-light">Zoom<i class="fas fa-angle-double-right ml-2"></i></h5>
      </a>
    </li>
    <li class="list-group-item">
      <!-- Text -->
      <h5 class="font-weight-bold">6pm-7pm EST</h5>
      <h6 class="font-italic">Teens & Adults</h6>
      <!-- Link -->
      <a href="#!" class="text-dark d-flex flex-row-reverse p-2">
      <h5 class="waves-effect waves-light">Zoom<i class="fas fa-angle-double-right ml-2"></i></h5>
      </a>
    </li>
  </ul>
  </div>
</div>


  <!-- Card -->
<div class="card card-cascade wider">

  <!-- Card image -->
  <div class="view view-cascade gradient-card-header heavy-rain-gradient">

    <!-- Title -->
    <h2 class="text-dark card-header-title mb-2">Wednesday</h2>

  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Text -->
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <!-- Text -->
      <h5 class="font-weight-bold">4pm-5pm EST</h5>
      <h6 class="font-italic">Teens & Adults</h6>
      <!-- Link -->
      <a href="#!" class="text-dark d-flex flex-row-reverse p-2">
      <h5 class="waves-effect waves-light">Zoom<i class="fas fa-angle-double-right ml-2"></i></h5>
      </a>
    </li>
    <li class="list-group-item">
      <!-- Text -->
      <h5 class="font-weight-bold">5pm-6pm EST</h5>
      <h6 class="font-italic">Kids</h6>
      <!-- Link -->
      <a href="#!" class="text-dark d-flex flex-row-reverse p-2">
      <h5 class="waves-effect waves-light">Zoom<i class="fas fa-angle-double-right ml-2"></i></h5>
      </a>
    </li>
    <li class="list-group-item">
      <!-- Text -->
      <h5 class="font-weight-bold">6pm-7pm EST</h5>
      <h6 class="font-italic">Teens & Adults</h6>
      <!-- Link -->
      <a href="#!" class="text-dark d-flex flex-row-reverse p-2">
      <h5 class="waves-effect waves-light">Zoom<i class="fas fa-angle-double-right ml-2"></i></h5>
      </a>
    </li>
  </ul>
  </div>
</div>


  <!-- Card -->
<div class="card card-cascade wider">

  <!-- Card image -->
  <div class="view view-cascade gradient-card-header elegant-color">

    <!-- Title -->
    <h2 class="card-header-title mb-2">Thursday</h2>

  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Text -->
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <!-- Text -->
      <h5 class="font-weight-bold">4pm-5pm EST</h5>
      <h6 class="font-italic">Kids</h6>
      <!-- Link -->
      <a href="#!" class="text-dark d-flex flex-row-reverse p-2">
      <h5 class="waves-effect waves-light">Zoom<i class="fas fa-angle-double-right ml-2"></i></h5>
      </a>
    </li>
    <li class="list-group-item">
      <!-- Text -->
      <h5 class="font-weight-bold">5pm-6pm EST</h5>
      <h6 class="font-italic">Kids</h6>
      <!-- Link -->
      <a href="#!" class="text-dark d-flex flex-row-reverse p-2">
      <h5 class="waves-effect waves-light">Zoom<i class="fas fa-angle-double-right ml-2"></i></h5>
      </a>
    </li>
    <li class="list-group-item">
      <!-- Text -->
      <h5 class="font-weight-bold">6pm-7pm EST</h5>
      <h6 class="font-italic">Teens & Adults</h6>
      <!-- Link -->
      <a href="#!" class="text-dark d-flex flex-row-reverse p-2">
      <h5 class="waves-effect waves-light">Zoom<i class="fas fa-angle-double-right ml-2"></i></h5>
      </a>
    </li>
  </ul>
  </div>
</div>

</div>


  <!-- Card -->
<div class="card card-cascade wider">

  <!-- Card image -->
  <div class="view view-cascade gradient-card-header heavy-rain-gradient">

    <!-- Title -->
    <h2 class="text-dark card-header-title mb-2">Friday</h2>

  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Text -->
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <!-- Text -->
      <h5 class="font-weight-bold">4pm-6pm EST</h5>
      <h6 class="font-italic">Meet your Instructors</h6>
      <!-- Link -->
      <a href="#!" class="text-dark d-flex flex-row-reverse p-2">
      <h5 class="waves-effect waves-light">Zoom<i class="fas fa-angle-double-right ml-2"></i></h5>
      </a>
    </li>
  </ul>
  </div>
</div>

{% endblock %}