{% extends 'main_site/header.html' %}

{% block content %}
<div class="container">
  <h4 class="text-center">Calendar page</h4>
  <!-- Card deck -->
  <div class="card-deck">

    <!-- Card -->
    <div class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body elegant-color white-text">

        <!-- Title -->
        <h4 class="card-title">Monday</h4>
        <hr class="hr-light">
        <!-- Text -->
        <p class="card-text white-text mb-4">Class Description...</p>
        <!-- Link -->
        <a href="#!" class="white-text d-flex justify-content-end">
          <h5>Join Class <i class="fas fa-angle-double-right"></i></h5>
        </a>

      </div>

    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">Tuesday</h4>
        <hr class="hr-dark">
        <!--Text-->
        <p class="card-text text-dark mb-4">Class Description...</p>

        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <a href="#!" class="d-flex justify-content-end text-dark">
          <h5>Join Class <i class="fas fa-angle-double-right"></i></h5>
        </a>
      </div>

    </div>
    <!-- Card -->
    <!-- Card -->
    <div class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">Wednesday</h4>
        <hr class="hr-dark">
        <!--Text-->
        <p class="card-text text-dark mb-4">Class Description...</p>

        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <a href="#!" class="d-flex justify-content-end text-dark">
          <h5>Join Class <i class="fas fa-angle-double-right"></i></h5>
        </a>
      </div>

    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card mb-4">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body elegant-color white-text">

        <!-- Title -->
        <h4 class="card-title">Thursday</h4>
        <hr class="hr-light">
        <!-- Text -->
        <p class="card-text white-text mb-4">Class Description...</p>

        <!-- Link -->
        <a href="#!" class="white-text d-flex justify-content-end">
          <h5>Join Class <i class="fas fa-angle-double-right"></i></h5>
        </a>

      </div>

    </div>
    <!-- Card -->

    <!-- Card -->
    <!-- Card content -->


  </div>
  <!-- Card -->

</div>
<!-- Card deck -->
</div>

{% endblock %}