{% extends 'main_site/header.html' %}

{% block content %}
<div class="container">
  <h4 class="text-center">Calendar page</h4>
  <!-- Card deck -->
  <div class="card-deck">

    <!-- Card -->
    <div class="card mb-4 z-depth-2">

      <!--Card content-->
      <div class="card-body elegant-color white-text">

        <!-- Title -->
        <h1 class="card-title">Monday</h1>
        <hr class="hr-light">
        <!-- Text -->
        <h6>Teens & Adults: 4pm-5pm</h6>
        <!-- Link -->
        <a href="#!" class="btn btn-sm btn-light btn-block">Join Class</a>
        </a>
        <hr class="hr-light">
        <!-- Text -->
        <h6>Kids: 5pm-6pm</h6>
        <!-- Link -->
        <a href="#!" class="btn btn-sm btn-light btn-block">Join Class</a>
        </a>
        <hr class="hr-light">
        <!-- Text -->
        <h6>Teens & Adults: 6pm-7pm</h6>
        <!-- Link -->
        <a href="#!" class="btn btn-sm btn-light btn-block">Join Class</a>
        </a>
        <hr class="hr-light">

      </div>

    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card mb-4 border-dark z-depth-2">

      <!--Card content-->
      <div class="card-body">

        <!-- Title -->
        <h1 class="card-title">Tuesday</h1>
        <hr class="hr-dark">
        <!-- Text -->
        <h6>Kids: 4pm-5pm</h6>
        <!-- Link -->
        <a href="#!" class="btn btn-sm btn-elegant btn-block">Join Class</a>
        </a>
        <hr class="hr-dark">
        <!-- Text -->
        <h6>Kids: 5pm-6pm</h6>
        <!-- Link -->
        <a href="#!" class="btn btn-sm btn-elegant btn-block">Join Class</a>
        </a>
        <hr class="hr-dark">
        <!-- Text -->
        <h6>Teens & Adults: 6pm-7pm</h6>
        <!-- Link -->
        <a href="#!" class="btn btn-sm btn-elegant btn-block">Join Class</a>
        </a>
        <hr class="hr-dark">

      </div>

    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card mb-4 z-depth-2">

      <!--Card content-->
      <div class="card-body elegant-color white-text">

        <!-- Title -->
        <h1 class="card-title">Wednesday</h1>
        <hr class="hr-light">
        <!-- Text -->
        <h6>Teens & Adults: 4pm-5pm</h6>
        <!-- Link -->
        <a href="#!" class="btn btn-sm btn-light btn-block">Join Class</a>
        </a>
        <hr class="hr-light">
        <!-- Text -->
        <h6>Kids: 5pm-6pm</h6>
        <!-- Link -->
        <a href="#!" class="btn btn-sm btn-light btn-block">Join Class</a>
        </a>
        <hr class="hr-light">
        <!-- Text -->
        <h6>Teens & Adults: 6pm-7pm</h6>
        <!-- Link -->
        <a href="#!" class="btn btn-sm btn-light btn-block">Join Class</a>
        </a>
        <hr class="hr-light">

      </div>

    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card mb-4 border-dark z-depth-2">

      <!--Card content-->
      <div class="card-body">

        <!-- Title -->
        <h1 class="card-title">Thursday</h1>
        <hr class="hr-dark">
        <!-- Text -->
        <h6>Kids: 4pm-5pm</h6>
        <!-- Link -->
        <a href="#!" class="btn btn-sm btn-elegant btn-block">Join Class</a>
        </a>
        <hr class="hr-dark">
        <!-- Text -->
        <h6>Kids: 5pm-6pm</h6>
        <!-- Link -->
        <a href="#!" class="btn btn-sm btn-elegant btn-block">Join Class</a>
        </a>
        <hr class="hr-dark">
        <!-- Text -->
        <h6>Teens & Adults: 6pm-7pm</h6>
        <!-- Link -->
        <a href="#!" class="btn btn-sm btn-elegant btn-block">Join Class</a>
        </a>
        <hr class="hr-dark">

      </div>

    </div>
    <!-- Card -->

    <!-- Card -->
    <!-- Card content -->


  </div>
  <!-- Card -->

</div>
<!-- Card deck -->
</div>

{% endblock %}