{% extends 'main_site/header.html' %}

{% block content %}
<!-- Contact Us Section -->
<section class="Material-contact-section section-padding section-dark">
  <div class="container">
    <div class="row">
      <!-- Section Titile -->
      <h1>Contact Page</h1>
      <h1>Alex says hi</h1>
    </div>
    <div class="row">
      <!-- Section Titile -->
      <div class="col-md-6 mt-3">
        <p>Fake form to the right.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo facilis nobis, et ab reprehenderit non tenetur
          aperiam, reiciendis voluptatem ipsum quidem incidunt! Saepe sed reiciendis inventore aut dolore, est aperiam
          molestias voluptates harum et distinctio sit illo odit iste repellat recusandae impedit similique.
          Perspiciatis id enim quis consequatur, magnam consequuntur?</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}