{% extends 'main_site/header.html' %}
{% load static %}

{% block content %}

<div class="container z-depth-1 my-5 p-5">
    <h3 class="font-weight-bold text-center dark-grey-text pb-2">Curriculum</h3>
    <hr class="w-header" />

<!-- Button trigger modal-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalVM">Launch modal</button>

<!--Modal: modalVM-->
<div class="modal fade" id="modalVM" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">

    <!--Content-->
    <div class="modal-content">

      <!--Body-->
      <div class="modal-body mb-0 p-0">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/269269617" allow="autoplay" allowfullscreen></iframe>
        </div>
      </div>

    </div>
    <!--/.Content-->

  </div>
</div>
<!--Modal: modalVM-->

<!-- Card deck -->

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 py-5">

    <!-- Card -->
    <div class="card card-image mb-4" style="background-image: url({% static 'main_site/img/RLBWlogo.jpg' %}); 
    background-repeat: no-repeat;
    background-position: center;">

      <!-- Content -->
      <div class="d-flex text-dark text-center justify-content-center align-items-center py-5 px-4">
        <div>
          <h3 class="card-title pt-5"><strong>Star Block</strong></h3>
          <p>Description</p>
          <a class="btn btn-dark">Start Mission <i class="fas fa-angle-double-right"></i></a>
        </div>
      </div>
    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card card-image mb-4" style="background-image: url({% static 'main_site/img/RLBWlogo.jpg' %}); 
background-repeat: no-repeat;
background-position: center;">

      <!-- Content -->
      <div class="d-flex text-dark text-center justify-content-center align-items-center py-5 px-4">
        <div>
          <h3 class="card-title pt-5"><strong>T1 6-steps</strong></h3>
          <p>Description</p>
          <a class="btn btn-dark">Start Mission <i class="fas fa-angle-double-right"></i></a>
        </div>
      </div>
    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card card-image mb-4" style="background-image: url({% static 'main_site/img/RLBWlogo.jpg' %}); 
background-repeat: no-repeat;
background-position: center;">

      <!-- Content -->
      <div class="d-flex text-dark text-center justify-content-center align-items-center py-5 px-4">
        <div>
          <h3 class="card-title pt-5"><strong>Palm Strike</strong></h3>
          <p>Description</p>
          <a class="btn btn-dark">Start Mission <i class="fas fa-angle-double-right"></i></a>
        </div>
      </div>
    </div>
    <!-- Card -->

    <!-- Card -->
    <div class="card card-image mb-4" style="background-image: url({% static 'main_site/img/RLBWlogo.jpg' %}); 
background-repeat: no-repeat;
background-position: center;">

      <!-- Content -->
      <div class="d-flex text-dark text-center justify-content-center align-items-center py-5 px-4">
        <div>
          <h3 class="card-title pt-5"><strong>Middle Punch</strong></h3>
          <p>Description</p>
          <a class="btn btn-dark">Start Mission <i class="fas fa-angle-double-right"></i></a>
        </div>
      </div>
    </div>
    <!-- Card -->

    <!-- Card -->
    <!-- Card content -->


  </div>
  <!-- Card -->

</div>

{% endblock %}
