{% extends 'main_site/header.html' %}

{% block content %}
<div class="container">
  <h4>Libary page</h4>
  <div class="card-deck">
    <div class="card bg-dark">
      <img class="card-img-top" src="https://img.youtube.com/vi/ir11kS-A4ng/hqdefault.jpg" alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title text-white">360 Jumps</h5>
        <hr class="bg-white" />
        <p class="card-text text-white">Description...</p>
        <a href="https://youtu.be/ir11kS-A4ng" class="btn btn-primary" target="_blank">Go somewhere</a>
      </div>
    </div>
    <div class="card border-seconday">
      <img class="card-img-top" src="https://img.youtube.com/vi/ir11kS-A4ng/hqdefault.jpg" alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title text-dark">360 Jumps</h5>
        <hr class="bg-dark" />
        <p class="card-text text-dark">Description...</p>
        <a href="https://youtu.be/ir11kS-A4ng" class="btn btn-secondary" target="_blank">Go somewhere</a>
      </div>
      <div class="card-footer border-secondary">
        Updated Today
      </div>
    </div>
    <div class="card border-success">
      <img class="card-img-top" src="https://img.youtube.com/vi/ir11kS-A4ng/hqdefault.jpg" alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title text-dark">360 Jumps</h5>
        <hr class="bg-dark" />
        <p class="card-text text-dark">Description...</p>
        <a href="https://youtu.be/ir11kS-A4ng" class="btn btn-success" target="_blank">Go somewhere</a>
      </div>
    </div>
    <div class="card bg-dark">
      <img class="card-img-top" src="https://img.youtube.com/vi/ir11kS-A4ng/hqdefault.jpg" alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title text-white">360 Jumps</h5>
        <hr class="bg-white" />
        <p class="card-text text-white">Description...</p>
        <a href="https://youtu.be/ir11kS-A4ng" class="btn btn-primary" target="_blank">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}