{% extends 'main_site/header.html' %} {% block content %}

<div class="container">
  <div
    class="row d-flex justify-content-center row-cols-1 row-cols-md-3 row-cols-lg-4"
  >
    <div class="col my-3">
      <div class="card h-100">
        <!--Card image-->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://img.youtube.com/vi/BZ5SUzqe85Y/hqdefault.jpg"
            alt="Card image cap"
          />
          <a href="https://youtu.be/BZ5SUzqe85Y" target="_blank">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body elegant-color white-text">
          <!-- Title -->
          <h4 class="card-title">
            Basic Korean Terminology
          </h4>
        </div>
      </div>
    </div>
    <div class="col my-3">
      <div class="card h-100">
        <!--Card image-->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://img.youtube.com/vi/fuK9FAkp7D8/hqdefault.jpg"
            alt="Card image cap"
          />
          <a href="https://youtu.be/fuK9FAkp7D8" target="_blank">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body elegant-color white-text">
          <!-- Title -->
          <h4 class="card-title">
            Basic Commands
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
