{% extends 'main_site/header.html' %} {% block content %}

<div class="container">
  <div
    class="row d-flex justify-content-center row-cols-1 row-cols-md-3 row-cols-lg-4"
  >
    <div class="col my-3">
      <div class="card h-100">
        <!--Card image-->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://img.youtube.com/vi/k_2CpT3DuvM/hqdefault.jpg"
            alt="Card image cap"
          />
          <a href="https://youtu.be/k_2CpT3DuvM" target="_blank">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body elegant-color white-text">
          <!-- Title -->
          <h4 class="card-title">
            Daily Workout 1
          </h4>
        </div>
      </div>
    </div>
    <div class="col my-3">
      <div class="card h-100">
        <!--Card image-->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://img.youtube.com/vi/Nf7O6_S5Rjk/hqdefault.jpg"
            alt="Card image cap"
          />
          <a href="https://youtu.be/Nf7O6_S5Rjk" target="_blank">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body elegant-color white-text">
          <!-- Title -->
          <h4 class="card-title">
            Daily Workout 2
          </h4>
        </div>
      </div>
    </div>
    <div class="col my-3">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://img.youtube.com/vi/Sgtlesh7LHw/hqdefault.jpg"
              alt="Card image cap"
            />
            <a href="https://youtu.be/Sgtlesh7LHw" target="_blank">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body elegant-color white-text">
            <!-- Title -->
            <h4 class="card-title">
              Explosive Jumps
            </h4>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://img.youtube.com/vi/mgolPSBgsMk/hqdefault.jpg"
              alt="Card image cap"
            />
            <a href="https://youtu.be/mgolPSBgsMk" target="_blank">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body elegant-color white-text">
            <!-- Title -->
            <h4 class="card-title">
              Plyometric Training
            </h4>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://img.youtube.com/vi/yoyzOkB95IQ/hqdefault.jpg"
              alt="Card image cap"
            />
            <a href="https://youtu.be/yoyzOkB95IQ" target="_blank">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body elegant-color white-text">
            <!-- Title -->
            <h4 class="card-title">
              50 Animal Moves
            </h4>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card h-100">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top"
              src="https://img.youtube.com/vi/7A0ubJ2743c/hqdefault.jpg"
              alt="Card image cap"
            />
            <a href="https://youtu.be/7A0ubJ2743c" target="_blank">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body elegant-color white-text">
            <!-- Title -->
            <h4 class="card-title">
              66 Plank Variations
            </h4>
          </div>
        </div>
      </div>
  </div>
</div>

{% endblock %}
